<div class="author">
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <a target="_blank" rel="noreferer" href="https://github.com/{{ site.author.github }}" >github</a>
  <a target="_blank" rel="noreferer" href="http://ctf.chapeudepalhahacker.club/users/{{ site.author.cphc }}">chapéu de palha</a>
  <a target="_blank" rel="noreferer" href="https://app.hackingclub.com/profile/user/{{ site.author.hacking_club }}">hacking club</a>
  <a target="_blank" rel="noreferer" href="https://linkedin.com/in/{{ site.author.linkedin }}">linkedin</a>
</div>