<div class="pagination">
  {% if paginator.previous_page %}
  <a
    class="page-previous"
    href="{{ paginator.previous_page_path }}"
    class="previous"
  >
    <span aria-hidden="true">←</span> NOVAS POSTAGENS
  </a>
  {% endif %}
  <span class="page_number"
    >PG. {{ paginator.page }} DE {{ paginator.total_pages }}</span
  >
  {% if paginator.next_page %}
  <a class="page-next" href="{{ paginator.next_page_path }}" class="next"
    >POSTAGENS ANTERIORES
    <span aria-hidden="true">→</span>
  </a>
  {% endif %}
</div>
